# VSCode
/.vscode
/.settings
.classpath
.factorypath
.project

# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
/.idea/
/*.iml

# https://github.com/liquibase/liquibase/issues/2196
/derby.log
